<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Web Snapshot</title>
</head>
<body>
    <h1>Hello, welcome</h1>
    {% if name %}
        <p>Hello {{ name }}!</p>
    {% else %}
        <p>Hello, World!</p>
    {% endif %}

    {% if url %}
        <p>Let's snap some shots from {{ url }}!</p>
    {% endif %}
</body>
</html>